@font-face {
  font-family: "MuseoSans";
  src: url("../src/fonts/MuseoSans-100.otf");
  font-weight: 100;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../src/fonts/MuseoSans-300.otf");
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../src/fonts/MuseoSans_500.otf");
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../src/fonts/MuseoSans_700.otf");
  font-weight: 700;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../src/fonts/MuseoSans_900.otf");
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "MuseoSans", sans-serif;
}

.fw {
  width: 100%;
}

.sw {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

li {
  list-style: none;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.8;
}
